.crear-producto-container {
  margin: 2rem 8rem;
}

.crear-producto-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.buttons-section {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.back-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}