.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.icono-eliminar-carrito {
  color: rgb(183, 58, 58);
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: darkred;
  }
}

.boton-vaciar-modal {
  margin-left: 0.7rem;
  margin-top: 1rem;
}

.boton-comprar {
  background-color: rgb(6, 92, 6);
  color: var(--text-color);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 0.5rem;
  transition: color 0.3s;
  &:hover {
    background-color: rgb(2, 76, 2);
  }
}

.boton-ver-carrito {
  background-color: rgb(23, 23, 23);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 0.5rem;
  margin-top: 1rem;
  transition: all 0.3s;
  width: 100%;
  
  &:hover {
    background-color: rgb(41, 40, 40);
    transform: translateY(-2px);
  }
}

.boton-comprar:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  filter: grayscale(10%);
}

.total-carrito {
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.carrito-titulo {
  font-size: 2rem;

  font-weight: 500;
  padding: 0rem;
  margin: 0 0 1rem 0;
}
