@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@400;700&display=swap");

navbar-bg {
  min-width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.navbar-section {
  display: flex;
  align-items: center;
  padding: 0.3rem 1rem;
}

.nombre-marca {
  margin-left: 0rem;
  margin-top: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Great Vibes", "Edwardian Script ITC";
}

.menu-icon {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  font-size: 2.1rem;
  cursor: pointer;
  margin-right: 1rem;
}

.logo {
  width: 70px;
  height: 70px;
}

.carrito-button {
  display: flex;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  position: relative;
  gap: 0.5rem;
  margin-top: 0.4rem;
}

.login-button {
  display: flex;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  font-size: 2.4rem;
  cursor: pointer;
  position: relative;
  margin-right: 2.8rem;
}

@media (max-width: 768px) {
  .nombre-marca {
	display:none;
  }

  .logo {
	width: 60px;
	height: 60px;
  }

  .carrito-button {
	font-size: 1.2rem;
	margin-top: 0.2rem;
  }

  .login-button {
	font-size: 1.7rem;
	margin-right: 0.4rem;
}
}
