.notification-modal {
	display: flex;
	flex-direction: column;
	background-color: white;
	border: 1px solid #282727;
	border-radius: 4px;
	padding: 16px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 90px;
	right: 25px;
	z-index: 1000;
	width: 270px;
	min-height: 400px;
	

}

.notification-title{
	margin-bottom:25px;
}

.notification{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
	margin-top: 0px;
	padding: 8px;
	border-bottom: 1px solid #aca8a8;

	
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}