.paginacion {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 8px;
  margin-bottom: 40px;
}

.paginacion button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
}
.paginacion button:hover {
  background-color: var(--accent-hover);
}
.paginacion button.active {
  background-color: var(--blue-700);
}
