.barra-busqueda {
	display: flex;
	gap: 0px;
	align-items: center;
	margin: 8px 0 16px;
 	width: 100%;
 	max-width: 640px;
	background-color: white;
	
}

.btn-buscar {
	white-space: nowrap;
	height: 40px;
}
