.filtro-componente {
  display: flex;
  gap: 20px;
  padding: 20px;
}


.filtros h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.filtro-grupo {
  margin-bottom: 15px;
}

.filtro-grupo label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  cursor: pointer;
}

.check-categoria input{ margin-right: 8px; }
