body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(
      135deg,
      rgba(226, 226, 226, 1) 0%,
      rgba(219, 219, 219, 1) 50%,
      rgba(209, 209, 209, 1) 50%,
      rgba(209, 209, 209, 1) 50%,
      rgba(254, 254, 254, 1) 100%
    )
    center/cover no-repeat;
  min-height: 100vh;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --primary-color: #2e2c36;
  --secondary-color: #868d8d;
  --background-color: #f7f7f7;
  --accent-color: #ff6f61;
  --text-color: #e6dcdc;
}
